@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 기본적인 달력 컨테이너 스타일 */
.AccountCalender {
    padding-bottom: 165px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

/* 요일을 위한 그리드 스타일 */
.AccountCalender .calendar-day-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    padding: 0 7px;
}

.AccountCalender .calendar-day {
    font-size: 15px;
    color: #666;
    padding: 20px 0 12px 0;
}

/* 날짜 셀 스타일 */
.AccountCalender .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px 0;
    padding: 0 7px;
}

.AccountCalender .calendar-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    text-align: center;
    height: 100px;
    box-sizing: border-box;
}

.AccountCalender .calendar-cell:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* 날짜 스타일 */
.AccountCalender .calendar-date {
    padding-top: 4px;
    font-size: 15px;
}

.AccountCalender .span {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background: #574BED;
}

/* 셀을 넘어가는 숫자 ellipsis 처리 */
.AccountCalender .calendar-income,
.AccountCalender .calendar-expense,
.AccountCalender .calendar-sum {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 3.4rem;
}

/* 수입 / 지출 스타일 */
.AccountCalender .calendar-income {
    margin-bottom: 1px;
    font-size: 12px;
    color: #574BED;
}

.AccountCalender .calendar-expense {
    margin-bottom: 1px;
    font-size: 12px;
    color: #FA603A;
}

.AccountCalender .calendar-sum {
    font-size: 12px;
}

/* 수정 완 */
.AccountCalender .money {

    position: absolute;
    top: 37px;
}
