.setting{
    padding: 80px 20px 0 20px;
}
.setting .setting_title, .setting .setting_data, .setting .setting_setting, .setting .setting_backup, .setting .setting_support {
    padding-bottom: 20px;
    border-bottom: solid 1px #D6D6D6;
}
.setting .setting_title h4 {
    font-size: 26px;
    font-weight: bold;

}
.setting .setting_data > p, .setting .setting_setting > p, .setting .setting_backup > p, .setting .setting_support > p {
    margin-top: 25px;
    font-size: 16px;
    color: #AAAAAA;
}

.setting .setting_category .setting_category1, .setting_category2, .setting_category3,
.setting .setting_setting > div,
.setting .setting_backup > div,
.setting .setting_support > div {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.setting .setting_category .setting_category1 > p, .setting .setting_category .setting_category2 > p, .setting .setting_category .setting_category3 > p,
.setting .setting_setting > div > p,
.setting .setting_backup > div > p,
.setting .setting_support > div > p {
    color: #222;
    font-size: 18px;
}

.setting .setting_backup > div > p {
    cursor: pointer;
}

.setting .setting_backup button {
    font-size: 18px;
    border: none;
    background: none;
}
