.HeaderTitle {
    padding: 25px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.HeaderTitle .calendar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.HeaderTitle button {
    padding: 0;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.HeaderTitle .calendar-button:first-of-type {
    margin-right: 3px;
}

.HeaderTitle .calendar-button:last-of-type {
    margin-left: 3px;
}

.HeaderTitle .calendar-month {
    padding-bottom: 3px;
    font-size: 26px;
}
/*수정*/
.HeaderTitle .button-wrapper a {
    display: inline-block;
}

.HeaderTitle .button-wrapper a:first-of-type {
    width: 22px;
    margin-right: 22px;
}

.HeaderTitle .tooltip{
    margin-right: 22px;
}

.HeaderTitle .tooltipModal{
    position: absolute;
    top: 130px;
    left: 50%;
    width: 330px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}
.HeaderTitle .tooltipModal button{
    margin-left: 260px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    background-color: #fff;
    color: #222;

}